@using ITAsset_DDLA.Database.Models.ViewModels.Shared
@using ITAsset_DDLA.Helpers.Enums
@using ddla.ITApplication.Database
@using ddla.ITApplication.Helpers

@model CreateTransferViewModel

<div class="container mt-5">
    <div class="logo-header">
        <img src="~/assets/images/ddlaLogo.png" alt="DDLA Logo" class="img-fluid">
        <div class="logo-text">
            <h1>Blank Yaratmaq</h1>
            <small>Dövlət Dəniz və Liman Agentliyi</small>
        </div>
    </div>

    <form asp-action="CreateBlank" method="post">
        <div class="card">
            <div class="card-header">
                <h4>İstifadəçi seçin</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="CreateProductViewModel.Recipient">İstifadəçi</label>
                    <select asp-for="CreateProductViewModel.Recipient" class="form-control" id="recipientSelect" onchange="updateShobe()" required>
                        <option value="">Seçin...</option>
                        @if (Model.LdapUsers != null)
                        {
                            @foreach (var user in Model.LdapUsers)
                            {
                                <option value="@user.FullName" data-shobe="@user.Shobe">@user.FullName</option>
                            }
                        }
                    </select>
                    <div class="mb-4" style="display: none;">
                        <select asp-for="CreateProductViewModel.DepartmentSection" id="unitSelect" class="form-control" readonly>
                            <option value="">-- Seçilmiş istifadəçinin şöbəsi --</option>
                        </select>
                    </div>

                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Blank Yarat</button>
                    <a asp-action="Index" class="btn btn-secondary">Ləğv et</a>
                </div>
            </div>
    </form>
</div>

<script>
    function updateShobe() {
        var recipientSelect = document.getElementById('recipientSelect');
        var unitSelect = document.getElementById('unitSelect');
        var selectedOption = recipientSelect.options[recipientSelect.selectedIndex];
        var shobeAz = selectedOption.getAttribute('data-shobe');

        unitSelect.innerHTML = '';
        if (shobeAz) {
            var opt = document.createElement('option');
            opt.value = shobeAz;
            opt.text = shobeAz;
            opt.selected = true;
            unitSelect.appendChild(opt);
        }
    }
</script>